/* --------------------------------------------------------------- */
/* FUENTES */
@font-face {
  /*Con esta propiedad se mandan a llamar las fuentes que se quieren agregar al documento pero de manera local*/
  font-family: Nexa;
  src: url("../css/fonts/Nexa\ Bold.otf");
}

@font-face {
  font-family: Nexa_Light;
  src: url("../css/fonts/Nexa\ Light.otf");
}

@font-face {
  font-family: SG_Alternative;
  src: url("../css/fonts/SG_Alternative_High-Alt.otf");
}

@font-face {
  font-family: SG_Alternative_Mid;
  src: url("../css/fonts/SG_Alternative_Mid.otf");
}

/* --------------------------------------------------------------- */
/* GENERALES */
* {
  margin: 0px;
  padding: 0px;
}

.clearfix {
  float: none;
  clear: both;
}
/* --------------------------------------------------------------- */
/* INICIO CABECERA */
#header {
  margin: 10px auto;
  margin-left: 8px;
  height: 75px;
  width: 98.1%;
  background: #2d2c2c;
  color: white;
}

.wrap h1 {
  display: block;
  float: left;
  font-family: "SG_Alternative_Mid";
  font-size: 56px;
  color: white;
  line-height: 77px;
  padding-left: 19px;
}

#list {
  float: right;
  height: 75px;
  background: transparent;
}

#list ul li {
  display: inline-block;
  margin: 0px 28px 0px 28px;
  letter-spacing: 1px;
  line-height: 75px;
}

#list ul li:last-child {
  margin-right: 40px;
}

#list ul li a {
  display: block;
  color: white;
  text-decoration: none;
  list-style: none;
  font-family: "Nexa_Light";
  font-size: 20px;
  transition: all 300ms;
}

#list ul li a:hover {
  color: #d51010;
  transform: scale(1.5, 1.5);
}

/* FIN CABECERA */

/* -------------------------------------------------------------- */
/* INICIO CONTENEDOR */
#container {
  width: 98.9%;
  display: block;
  margin: 0px auto;
}
/* FIN DEL CONTENEDOR */
/* INICIO SLIDE */
#container #slide {
  width: 100%;
  height: 343px;
  background: url("../img/slide.jpg") no-repeat;
  background-size: auto;
  background-position: -10px -285px;
  background-size: cover;
}
/* FIN SLIDE */

/* INICIO CONTENEDOR INFO */
#container .container_section {
  background: transparent;
  width: 100%;
  height: 570px;
  margin-top: 20px;
}
/* FIN CONTENEDOR INFO */
/* INICIO ASIDE */
#container #lateral {
  display: block;
  float: left;
  width: 20%;
  background: #2d2c2c;
  min-height: 550px;
  border-radius: 15px;
}

#container #lateral h2 {
  width: 85%;
  margin: 0px auto;
  margin-top: 20px;
  text-align: center;
  height: 70px;
  color: white;
  background: #d51010;
  font-family: "Nexa_Light";
  font-size: 32px;
  line-height: 74px;
  border: 5px solid #8f8484;
  border-radius: 33px;
}

#container #lateral #indice {
  display: block;
  float: left;
  width: 90%;
  margin: 0px auto;
  margin-left: 13px;
  margin-top: 30px;
  background: transparent;
}

#container #lateral #indice ul li {
  margin-bottom: 30px;
  border-bottom: 2px solid #8f8484;
  list-style: none;
}

#container #lateral #indice ul li a {
  display: block;
  font-size: 28px;
  font-family: "Nexa_Light";
  color: white;
  text-decoration: none;
  transition: all 300ms;
}

#container #lateral #indice ul li:hover a {
  color: #d51010;
  transform: translate(350px, 0);
  -webkit-transform: translate(20px, 0);
  /** Chrome & Safari **/
}
/* FIN DEL ASIDE */
/* INICIO SECCION */
#container .section {
  display: block;
  float: left;
  width: 77.7%;
  margin: 0px auto;
  margin-left: 20px;
  background: #2d2c2c;
  border-radius: 15px;
  min-height: 550px;
}

#container .section #subtitulo {
  width: 96.6%;
  text-align: center;
  display: block;
  margin-left: 18px;
}

#container .section h2 {
  display: block;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  background: #d51010;
  text-align: center;
  color: white;
  font-family: "Nexa_Light";
  font-size: 32px;
  border: 5px solid #8f8484;
  border-radius: 33px;
  line-height: 20px;
}

#container .section #caja_foto {
  width: 100%;
  text-align: center;
}

#container .section #caja_foto .fotos {
  display: inline-block;
}

#container .section .fotos img {
  height: 160px;
  width: 160px;
  margin: 15px 15px 15px 15px;
}
/* FIN SECCION */
/* INICIO NOSOTROS */
#container #nosotros {
  background: #d51010;
  width: 98.6%;
  height: 230px;
  text-align: center;
  font-family: "Nexa_Light";
  border: 5px solid #8f8484;
  border-radius: 33px;
  color: white;
}

#container #nosotros h3 {
  font-size: 32px;
  padding-top: 20px;
}

#container #nosotros p {
  font-size: 25px;
  padding-top: 20px;
  width: 94%;
  margin-left: 25px;
}
/* FIN NOSOTROS */
/* ---------------------------------------------------------- */
/* INICIO FOOTER */
#footer {
  margin-top: 20px;
  height: 320px;
  background: #2d2c2c;
  color: #aaa2a2;
}
#footer .contacto {
  display: block;
  margin-top: 20px;
  width: 50%;
  float: left;
}
#footer .contacto ul {
  margin-left: 60px;
  list-style: none;
}
#footer .contacto h2 {
  font-size: 32px;
  font-family: "Nexa_Light";
  margin-left: 20px;
  margin-bottom: 20px;
}
#footer .contacto p {
  font-size: 20px;
  font-family: "SG_Alternative_Mid";
  margin-bottom: 20px;
}
#footer iframe {
  display: block;
  width: 46%;
  margin: 30px 20px 10px 20px;
  float: left;
}
#footer .desarrollo {
  height: 40px;
  background: gray;
  margin-top: 20px;
}
#footer .desarrollo p {
  text-align: center;
  font-size: 28px;
  font-family: "Nexa_Light";
  line-height: 40px;
}
/* FIN FOOTER */
